/*
    Document   : application.css
    Created on : Apr 14, 2012, 8:12:24 PM
    Author     : kevin
    Description:
        Purpose of the stylesheet follows.
*/
/* ...
*= require_self
*= require_tree .
*/